# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Flask
instance/
*.db
*.sqlite3

# dotenv
.env

# Docker
.dockerignore

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Output and uploads
output/
uploaded/
logs/